.base {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.primary {
  background-color: red;
  color: white;
}

.primary:hover {
  background-color: rgb(209, 0, 0);
}

.secondary {
  background-color: white;
  color: red;
}

.secondary:hover {
  background-color: rgb(238, 238, 238);
}
