
#vfeRoot {
  z-index: 10000;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

#vfeRoot button {
  border: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
